*{
  box-sizing: border-box;
}
h2{
font-weight: 700;
font-size: 45px;
color: #6B7383;
letter-spacing: 0.1px;
text-align: center;
margin-top: 30px;
}

.one-fourth{
  width:24.5%;
  display: inline-block;
  vertical-align: top;
}

.left{
  margin-left:50px;
  margin-right: 25px;
}
.right{
  margin-right: 50px;
  margin-left: 25px;
}

.mar-bottom{
  margin-bottom: 25px;
}

 .slice.five{
  background-color: #4BB2FF;
}
.slice.four{
  background-color: #444A59;
}

.padding{
  padding:30px;
}

.space-top{
  margin-top: 15px;
}
.top-card-left{
  margin: 25px 25px 0 50px;
  position: relative;
  padding: 20px 30px;
  z-index: 5;
}

.top-card-right{
  margin: 25px 50px 0 25px;
  position: relative;
  padding: 20px 30px;
  z-index: 5;
}
.chart-label{
  margin-bottom: 10px;
  font-size: 50px;
}
.chart-label-sm{
  font-size: 30px;
  margin: 15px 0 10px 0;
}
.top-space{
  padding: 30px 10px;
}

.flex{
  display: flex;
}

/*.main{
  padding:25px;
}*/

@media screen and (max-width: 1025px) {

  .right {
    margin-right: 30px;
    margin-left: 15px;
  }
  .left {
      margin-left: 30px;
      margin-right: 15px;
  }
  .top-card-left {
    margin: 15px 15px 0 30px;
  }
  .top-card-right {
    margin: 15px 30px 0 15px;
    overflow-x: scroll;
  }
  .padding {
    padding: 20px;
  }

  .mar-bottom {
    margin-bottom: 25px;
}

}


@media screen and (max-width: 760px) {

  .profile-info {
    margin: 20px 20px -10px 4px;
    width: 150px;
  }

  .half{
        width: 49.5%;
  }

  .preview {
    position: absolute;
    right: 94px;
    bottom: 15px;
  }

  button {
    font-size: 13px;
    padding: 10px 15px;
  }

  .dropdown {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  .centered-stats {
    font-size: 50px;
  }
  .horizonal-list li {
    display: inline-flex;
    margin: 0 6px;
  }
  html, body, div, applet, object, iframe,
  p, i, center, dl, dt, dd, ol, ul, li,
  label, legend, table, caption,
  footer, header, nav, output, section {
    font-size: 14px;
  }
  .centered-stats-small {
    font-size: 40px;
    line-height: 62px;
  }
  .right-small {
    height: 95px;
  }
  .left-small {
    height: 190px;
  }
  h1{
    font-size: 25px;
  }
  .top-card-top, .top-half-left,.top-half-right,.top-half-left, .top-half-right, .top-card, .top-half {
    padding: 15px 15px;
  }

  .chart-label {
    font-size: 30px;
  }

}

@media screen and (max-width:414px) {

  .half {
    width: 100%;
  }
  .top-half-left {
    margin: 10px 10px 0 10px;
  }
  .half-left {
    margin: 0 10px 5px 10px;
  }
  .top-half-right {
    margin: 5px 10px 0 10px;
  }
  .overlap {
    margin-right: 10px;
  }
  .left-small {
    margin: 0 0 5px 10px ;
  }
  .half-right {
    margin: 0 10px 5px 10px;
  }
  .top-card-left {
    margin: 10px 10px 0 10px;
  }
  .left, .right {
    margin-left: 10px;
    margin-right: 10px;
  }
  .top-card-right {
    margin: 5px 10px 0 10px;
    overflow-x: scroll;
  }
  .three-quarter {
    width: 100%;
  }

  .one-fourth {
    width: 100%;
  }






}
