
*{
  box-sizing: border-box;
}
*:focus {
    outline: none;
}

body{
  background-color: #1D212C;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  letter-spacing: .4px;
  color:#949EB3;
}

a{
  text-decoration: none;
  color: #949EB3;
}

h1{
  font-size: 30px;
  color: #949EB3;
  letter-spacing: 0.5px;
  text-align: center;
}





::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #151820;
}
/******** Sidebar ****************/
/******* Side bar - main nav  from top to bottom**********/
/**************************************/

  /*.sidebar{
    position: fixed;
      left:0;
      top:0;
      bottom:0;
    width:60px;
    overflow-x: hidden;
      transition: 0.5s;
  }*/



  .sidebar/*:hover*/{
    display: inline-block;
    position: fixed;
      left:0;
      top:0;
      bottom:0;
    width:200px;
    min-height:915px;
    overflow-x: hidden;
      transition: 0.5s;
      z-index: 100;
  }

  .card,.sidebar{
    background-color:#222632;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.22);
    box-sizing: border-box;

  }

  .profile-info{
    margin: 20px 20px -10px 10px;
    display: inline-flex;
  }

  .name-company{
    margin-top: 9px;
  }

  #name{
    color:white;
    font-weight: 700;
    text-transform: capitalize;
    padding: 2px;
  }
  #company{
      font-weight: 400;
      text-transform: uppercase;
      font-size: 12px;
      padding: 2px;
  }

  /********** Profile images ************/

  .user-profile-image{
    width:48px;
    height: 48px;
    margin:0px 10px 15px 0;
    display: inline-flex;
  }


  /* images */
    .ann{
      background-image: url("../images/ann.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .jon{
      background-image: url("../images/jon.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .kay{
      background-image: url("../images/kay.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .jake{
      background-image: url("../images/jake.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .mia{
      background-image: url("../images/mia.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .ryan{
      background-image: url("../images/ryan.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }

  /********** Nav ***************/

  .main-nav{
    font-weight: 400;
    font-size: 16px;
    color: #949EB3;
    letter-spacing: 1.17px;
    text-align: left;
    border-bottom: 1px solid #1B2029;
  }
  .main-nav ul{
    margin-bottom: 15px;
    margin-top: 15px;

  }
  .main-nav li{
    padding:15px 0 15px 20px;
    width:100%;
  }

    .main-nav li:hover{
      background-image: linear-gradient(-135deg, rgba(113, 125, 148, 0.5) 0%, rgba(68, 79, 101, 0.5) 100%);
    }

  .main-nav a{
    margin-left: 10px;
    padding: 15px 100px 15px 10px;
    }

  i{
    margin-right: 10px;
  }

  .nav-active{
    background-image: linear-gradient(40deg, #7C75FF 0%, #02D4FF 100%);
    color:white;
  }
  .on{
    color:white;
    text-transform: uppercase;
    font-weight: 700;
  }


  img{
    max-width:100%;
  }

  #logo {
    box-sizing: border-box;
    position: absolute;
    bottom: 60px;
    left: 30px;
    width: 145px;
  }

  .sidebar-dropdown{
    padding-left: 10px;
    background-color:#1B2029;
    position: relative;
    top:-14px;
  }

  .sidebar-dropdown li{
    font-size: 13px;
  }
.main-nav ul ul.sidebar-dropdown{
  margin-bottom: 0;
}

.top-nav{
  height:50px;
 background-image: linear-gradient(-135deg, #21252C 0%, #444F65 100%);
 text-align: center;
}
.top-nav a{
  margin:0 15px;
  line-height: 50px;
}



/****************************************/
/***** Cards and card spacing **********/
/****************************************/

main{
  box-sizing: border-box;
  position: absolute;
    left:200px;
}

.very-top-card{
  position: relative;
  z-index: 10;
}
.top-card-top, .top-half-left, .top-half-right,.top-card,.top-half{
  position: relative;
  padding: 20px 30px;
  z-index: 5;
}
.full-width, .half-left,.half-right,.half-center{
  position: relative;
  padding: 30px;
  z-index: 0;
}

.half{
  width:49.8%;
  display: inline-block;
  vertical-align: top;
}

.three-quarter{
  width:75%;
  display: inline-block;
  vertical-align: top;
}

.three-quarter .three-quarter{
  padding:30px;
}

.half-center{
  margin:0 25px 25px 25px;

}


.top-card-top{
  margin: 50px 50px 0 50px;
}
.top-card{
  margin: 25px 50px 0 50px;
}

.full-width{
  margin:0 50px 25px 50px;
}

.bottom{
  margin-bottom: 50px;
}
.top-half{
  margin: 25px 25px 0 25px;
}

.top-half-left{
  margin: 25px 25px 0 50px;
}
.half-left{
  margin:0 25px 50px 50px;
}

.top-half-right{
  margin: 25px 50px 0 25px;
}

.half-right-overlap-1{
  margin: 0px 50px 0px 25px;
    position: relative;
    padding: 30px ;
    z-index: 3;
}

.half-right-overlap-2{
  margin: 0px 50px 0 25px;
    position: relative;
    padding:  30px;
    z-index: 2;
}

.half-right-overlap-3{
  margin: 0px 50px 25px 25px;
    position: relative;
    padding: 30px;
    z-index: 1;

}

.top-half-left-overlap-1{
  margin: 0px 25px 0 50px;
    position: relative;
    padding: 20px 30px;
    z-index: 3;
}

.top-half-left-overlap-2{
  margin: 0px 25px 0 50px;
    position: relative;
    padding: 20px 30px;
    z-index: 2;
}

.top-half-left-overlap-3{
  margin: 0px 25px 0 50px;
    position: relative;
    padding: 20px 30px;
    z-index: 1;

}

.half-right{
  margin:0 50px 50px 25px;
}

.bottom-small{
  margin: 0 0 25px 50px;
  width: 50%;
  padding: 30px;
}
.bottom-small-right{
  margin: 0 0px 25px 0px;
  width: 50%;
  padding: 30px;
}


/****************************************/
/****************************************/
/****************************************/


#new-post ul li{
  display: inline-flex;
}

#new-post li{
  vertical-align: bottom;
  height: 50px;

}

#new-post li div {
  border: 3px solid #8F8BFD;
}

#new-post .user-profile-image{
  margin: 0 5px 0 0 ;

}
#new-post p{
  margin-top:35px;
}
#new-post i{
  padding-right:10px;
}
.username{
  margin:0 10px 0 3px;
  color: #8F8BFD;
}

.inactive-network .ann{
  opacity: .5;
}
#new-post .inactive-network .user-profile-image{
  border:0;

}
.inactive-network .username{
  color: #77788A;
}


button{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #949EB3;
  text-align: center;
  padding:15px 20px;
  display: inline-flex
}

.customize-network{
  position: absolute;
  /*right:-430px;*/
  right:2%;
}

.button:hover{
  background-image: linear-gradient(-135deg, rgba(113, 125, 148, 0.5) 0%, rgba(68, 79, 101, 0.5) 100%);
}

textarea{
  background-color: #222632;
  box-shadow: none;
  border: none;

  color: #8F8BFD;
  text-align: left;
  font-size: 30px;


  min-height: 300px;
  width: 70%;
  margin-bottom: 10px;
  resize: none;
  vertical-align: top;
}

textarea::placeholder{
  color: #6B7383;
  vertical-align:top;
  text-align: left;
}

.horizonal-list .first{
  margin-left: 0;
}
.horizonal-list .last{
  margin-right: 0;
}
.horizonal-list{
  display: inline-block;
}

.horizonal-list li{
  display: inline-flex;
  margin: 0 15px;
}

.horizonal-list li a:hover{
  color:#8F8BFD;
}

.button{
  background-color: #222632;
  border-image: linear-gradient(-135deg, #717D94 0%, #444F65 100%) 3 / 3px;

}


.right{
  /*float:right;
  align-content: right;
  align-items: center;
  align-self: right;*/
  box-sizing: border-box;
       margin-left:49%;
       /*position: relative;
       top: -30px;*/
}

.dropdown{
      position: absolute;
      right: 30px;
      bottom: 30px;
      display: inline-block;
    /*padding-bottom: 20PX;*/
}
.preview {
      position: absolute;
      right: 139px;
      bottom: 30px;
    }

.dropdown-content {
  display: none;
  position: absolute;
  left: -60px;
  top: 60px;
  background-color: #2a2f3f;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.22);
  min-width: 210px;
  z-index: 10;
}

.dropdown-content a {
    color: #949EB3;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/****************************************/
/****************************************/
/****************************************/

.tall{
  height:300px;
}

.left-small{
  margin-left: 50px;
  margin-bottom: 25px;

  background: #222632;
  box-shadow: 0 0 44px 0 rgba(0,0,0,0.23);
  /*float:left;*/
  width: 50%;
  height:300px;
  position: relative;
    z-index: 3;
}

.right-small{
  height: 150px;
  background: #222632;
  box-shadow: 0 0 44px 0 rgba(0,0,0,0.23);
}

.half-small{
  width:49%;
  display: inline-block;
}


.overlap{
  display:flex;
  margin-right: 25px;
}


.centered-stats{
  font-size: 70px;
  text-align: center;
  line-height: 100px;
  margin-top: 20%;
}
.centered-stats-small{
  font-size:60px;
  text-align: center;
  line-height: 100px;
}

.center{
  text-align: center;
}

.center-img{
  margin-left: 50%;
}
.uppercase{
  text-transform: uppercase;
}


/******** Color fonts ********/
.pink{
  color: #FE7373;
}
.bgpink{
  background-color: #FE7373;
}
.blue{
  color:#4BB2FF;
}
.bgblue{
  background-color: #4BB2FF;
}
.bright-blue{
  color:#02D4FF;
}
.green{
  color:#6FE881;
}
.grey{
  color:#C5C6CD;
}

.user-info{
  margin: 20px 0;
  display: inline-block;
  width:100%
}

.name{
  color:white;
  font-weight: 700;
  text-transform: capitalize;
  padding: 2px;
}

.name-postinfo{
  display: inline-block;
  width:80%;
  vertical-align: super;
}
.scheduled{
    font-weight: 400;
    font-style: italic;
    text-transform:capitalize;

    font-size: 12px;
    padding: 2px;
}

strong{
 font-weight: 700;
}

.post{
  line-height: 22px;
  width:90%;
}

.post-image{
  width: 45%;
  display: inline-block;
  margin:10px 10px 10px 0;
}
.one-post-image{
  width:100%;
  margin:10px 10px 10px 0;
}
/****************************************/
/****************************************/
/****************************************/


.fixed-height{
  height: 725px;
  overflow: scroll;
}
.fixed-height-full{
  height: 865px;
  overflow: scroll;
}
.fixed-height-large{
  height: 1120px;
  overflow: scroll;
}

.fixed-height-sm{
  height: 500px;
  overflow: scroll;
}

.full{
  margin:0 50px 25px 50px;
  /*position: relative;
  z-index: 0;*/
  display: flex;
}
.one-third-left{
  width:33%;
  margin: 0 0px;
  position: relative;
    z-index: 1;
  display: inline-block;
  padding-left: 30px;
}
.one-third-center{
  width:35%;
  margin: 0 0px;
  position: relative;

    z-index: 2;
  display: inline-block;
  padding-left: 30px;

}
.one-third-right{
  width:32%;
  margin: 0 0px;
  position: relative;

    z-index: 1;
  display: inline-block;
  padding-left: 30px;

}



/****************************************/
/**************** charts ************************/
/****************************************/

.chart {
  height: 60px;
  width: 97%;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(100, 1fr);
  border-left: 1px solid #445065;
  border-bottom: 1px solid #445065;
  grid-column-gap: 30px;
}

.chart-labels {
  height: 30px;
  width: 97%;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(100, 1fr);

  grid-column-gap: 30px;
  text-align: center;
  padding-top: 10px;
  text-transform: capitalize;
}

[class*="grid-bar"] {
  grid-row-start: 1;
  grid-row-end: 101;
}
.grid-bar-1 {
  grid-row-start: 50;
}
.grid-bar-2 {
  grid-row-start: 30;
}.grid-bar-3 {
  grid-row-start: 0;

}.grid-bar-4 {
  grid-row-start: 60;

}.grid-bar-5 {
  grid-row-start: 100;

}.grid-bar-6 {
  grid-row-start: 30;

}.grid-bar-7 {
  grid-row-start: 10;
}

.grid-selected{
  background-image: linear-gradient(45deg, #EC4F4F 0%, #FE9E73 100%);
}
.grid-deselected{
  background-image: linear-gradient(-135deg, #717D94 0%, #444F65 100%);
}

/****************************************/
/*************  analytics **************/
/****************************************/

.small-full-half{
  width:100%;
  margin:0 25px 0 50px;
}

.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .chart-center {
    position: absolute;
    border-radius: 50%;
  }
  span {
    display: block;
    text-align: center;
  }

  .donut-chart.chart3 {
  width: 120px;
  height: 120px;
  background: #444A59;
  margin: 0 auto;
}
.donut-chart.chart3 .slice.one {
  clip: rect(0 120px 60px 0);
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
  background-image: linear-gradient(62deg, #F47072 0%, #FE9E73 100%);
}
.donut-chart.chart3 .slice.two {
  clip: rect(0 60px 120px 0);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-image: linear-gradient(62deg, #F47072 0%, #FE9E73 100%);
}
.donut-chart.chart3 .chart-center {
  top: 5px;
  left: 5px;
  width: 110px;
  height: 110px;
  background: #222632;
}
.donut-chart.chart3 .chart-center span {
  font-size: 40px;
  line-height: 110px;
  color: #353535;
}

.space-top{
  margin-top: 10px;
}


#enguage{
  box-sizing: border-box;
  width: 99%;
}

/****************************************/
/****************************************/
/****************************************/


.chart-views {
  height: 14vh;
  width: 97%;

  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(100, 1fr);
  border-left: 1px solid #445065;
  border-bottom: 1px solid #445065;
  grid-column-gap: 20px;
}

.chart-labels {
  height: 30px;
  width: 97%;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(100, 1fr);

  grid-column-gap: 30px;
  text-align: center;
  padding-top: 10px;
  text-transform: capitalize;
}

[class*="grid-bar"] {
  grid-row-start: 1;
  grid-row-end: 105;
}
.grid-bar-1 {
  grid-row-start: 50;
}
.grid-bar-2 {
  grid-row-start: 30;
}.grid-bar-3 {
  grid-row-start: 0;

}.grid-bar-4 {
  grid-row-start: 60;

}.grid-bar-5 {
  grid-row-start: 100;

}.grid-bar-6 {
  grid-row-start: 30;

}.grid-bar-7 {
  grid-row-start: 10;
}

.grid-selected{
  background-image: linear-gradient(45deg, #EC4F4F 0%, #FE9E73 100%);
}
.grid-deselected{
  background-image: linear-gradient(-135deg, #717D94 0%, #444F65 100%);
}


.insight{
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 1px;
}

.summary{
  display: inline-block;
  margin-left: 15%;
}
.summary-content{
  display: inline-flex;
}

.summary-content .profile-info{
  margin: 0px;
}
.summary-content .fist{
  margin-left: 0;
}
.summary-content .last{
  margin-right: 0px;
}
.summary-content li{
  margin: 20px 40px;
  height:30px;
}

.lfrc{
  position: relative;
  top:15px;
}
/****************************************/
/****************  posts pages   ************************/
/****************************************/
.key{
  display: flex;
  position: absolute;
  right:30px;
  bottom: 30px;
}
.key p{
  margin:10px;
}

.wrapper {
  display: grid;
  grid-template-columns:  repeat(5, 18%);
  text-align: center;
  grid-gap: 10px;
}

.box {
  color: #949EB3;
  padding: 0px;
}

.day{
  text-transform: uppercase;
  margin-bottom: 15px;
}

.time{
  margin: 10px 0;
}

.box.e{
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/down.png);
}

.secondary-nav{
  padding: 40px 30px 0 30px;
  height: 50px;
  text-align: center;
}

.secondary-nav a{
  padding:10px 35px;
  color:white;
  background-color: black;
  margin:0 10px;
}
.secondary-nav a:hover{
  background-color: #77788A;
}

.secondary-nav a.active{
  font-weight: 700;
  color:black;
  background-color: #E2E5EE;
}

.no-posts{
  /* No posts!: */
font-size: 30px;
letter-spacing: 0.5px;
text-align: center;
line-height: 400px;
}



/*  Weekly view  chart*/

.weekly-view-chart {
  display: grid;
  grid-template-columns:  repeat(7, 13.5%);
  text-align: center;
  grid-gap: 10px;
  grid-template-rows: repeat(6, 40px);
  grid-row-end: 10;
  grid-row-start: 0;

}

.posts-bars {
  color: #949EB3;
  padding: 0px;
}

.posts-bars.fb{
  background-image: linear-gradient(40deg, #7C75FF 0%, #00B0FF 100%);
}

.posts-bars.insta{
  background-image: linear-gradient(45deg, #EC4F4F 0%, #FE9E73 100%);
}

/*monday*/
.posts-bars.label.a{
  grid-column: 1 ;
  grid-row: 5 / 6;
}

.posts-bars.fb.a{
  grid-column: 1 ;
  grid-row: 3 / 4;
}
.posts-bars.insta.a{
  grid-column: 1 ;
  grid-row: 4 / 5;
}


/*tuesday*/
.posts-bars.label.b{
  grid-column: 2 ;
  grid-row: 5 / 6;
}
.posts-bars.fb.ba{
  grid-column: 2 ;
  grid-row: 1 / 2;
}
.posts-bars.fb.b{
  grid-column: 2 ;
  grid-row: 2 / 3;
}
.posts-bars.insta.ba{
  grid-column: 2 ;
  grid-row: 3 / 4;
}
.posts-bars.insta.b{
  grid-column: 2 ;
  grid-row: 4 / 5;
}

/*wednesday*/
.posts-bars.label.c{
  grid-column: 3 ;
  grid-row: 5 / 6;
}
.posts-bars.insta.c{
  grid-column: 3 ;
  grid-row: 4 / 5;
}
.posts-bars.fb.c{
  grid-column: 3 ;
  grid-row: 3 / 4;
}


/*thursday*/
.posts-bars.label.d{
  grid-column: 4 ;
  grid-row: 5 / 6;
}
.posts-bars.insta.d{
  grid-column: 5 ;
  grid-row: 4 / 5;
}

/*friday*/
.posts-bars.label.e{
  grid-column: 5 ;
  grid-row: 5 / 6;
}
.posts-bars.insta.e{
  grid-column: 5 ;
  grid-row: 4 / 5;
}
.posts-bars.fb.e{
  grid-column: 5 ;
  grid-row: 4 / 5;
}
/*saturday*/
.posts-bars.label.f{
  grid-column: 6 ;
  grid-row: 5 / 6;
}
.posts-bars.fb.f{
  grid-column: 6 ;
  grid-row: 4 / 5;
}
.posts-bars.insta.f{
  grid-column: 6 ;
  grid-row: 4 / 5;
  display: none
}

/*sunday*/
.posts-bars.label.g{
  grid-column: 7 ;
  grid-row: 5 / 6;
}
.posts-bars.insta.g{
  grid-column: 7 ;
  grid-row: 4 / 5;
}
.posts-bars.fb.g{
  grid-column: 7 ;
  grid-row: 3 / 4;
}





/*Calendar view*/

.weekday {
  color: #a0a5bf;
  padding: 0px;
  font-size: 18px;
  border: 1px solid #1B2029;
  padding-right: 15px;
  overflow:hidden;
}

.cal {
    width: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: repeat(6, 150px)
}

.weekday .day.cur-day{
  background-color: #FE7373;
  color:white;
}

.weekday .day{
  width:30px;
  height:30px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 5px;
}

.weekday.selected{

}
.black{
  background-color: #1B2029;
  text-align: center;
  line-height: 30px;
  height: 30px;
  margin-left: 20px;
}

.weekday.sun.2{
  display: grid;
    grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
}

.weekday .post-snip{
  max-height:40%;
  width: 70%;
  font-size: 15px;
  margin:5px;
  display: inline-flex;
}

.weekday img{
  width: 48%;
  margin: 0
}

.imgs{
  margin-left:30px;
}

.circle{
  width:8px;
  height:8px;
  border-radius: 100%;
  margin:7px;
  display: inline-flex;
}

@media screen and (max-width: 1255px) {

  .half {
     width: 49.5%;
   }

}

@media screen and (max-width: 1025px) {


  .customize-network {
    position: relative;
    right: -190px;
    top: 11px;
  }
  .right {
    box-sizing: border-box;
    margin-left: 0;
  }
  .half {
    width: 49.7%;
  }


  .top-card-top {
    margin: 30px 30px 0 30px;
  }

  .top-card-top, .top-half-left, .top-half-right, .top-card, .top-half {
      position: relative;
      padding: 20px 20px;
      z-index: 5;
  }

  .top-card {
    margin: 15px 30px 0 30px;
  }

  .full-width {
    margin: 0px 30px 15px 30px;
  }
  .top-half-right {
      margin: 15px 30px 0 15px;
  }
  .half-right {
    margin: 0 30px 30px 15px;
  }

  .top-half-left {
    margin: 15px 15px 0 30px;
  }
  .half-left {
    margin: 0 15px 30px 30px;
  }
  .left-small {
    margin-left: 30px;
  }

  .full {
    margin: 0 30px 15px 30px;
  }



  .top-half-left-overlap-1 {
    margin: 0px 15px 0 30px;
    padding: 20px 20px;
  }
  .top-half-left-overlap-1 img{
    width: 100%;
  }



  .bottom-small {
    margin: 0px 0 15px 30px;
  }
  .bottom-small-right {
    margin: 0px 0 15px 0px;
    width: 46.7%;
  }


  .top-half {
    margin: 15px 15px 0 15px;
  }

  .bottom {
      margin-bottom: 30px;
  }

  .half-center {
      margin: 0 15px 15px 15px;
  }
  .top-card-left {
    margin: 15px 15px 0 30px;
  }
  .padding {
    padding: 20px;
  }

  .left {
      margin-left: 30px;
      margin-right: 15px;
  }
  .top-card-right {
    margin: 15px 30px 0 15px;
  }


  .one-third-left,.one-third-center,.one-third-right {
    padding-left: 15px;
  }
  .one-third-left li,.one-third-center li,.one-third-right li {
      font-size: 16px;
  }
  .half-right-overlap-1, .half-right-overlap-2,.half-right-overlap-3 {
    margin: 0px 30px 0px 15px;
    padding: 15px;
  }

  .post-image {
      margin: 0px 0px 0px 0;
    }

  .summary-content li {
    margin: 20px 20px;
    }
  .summary {
    margin-left: 0;
  }


  .full-width, .half-left, .half-right, .half-center {
    padding: 20px;
  }
  .three-quarter {
    width: 74.9%;
  }


  .chart, .chart-labels {
      height: 30px;
      width: 97%;
    }
  .chart-labels {
      font-size: 13px;
      grid-column-gap: 20px;
    }
  .wrapper {
      grid-template-columns: repeat(5, 20%);
      grid-gap: 5px;
  }
  .box {
    font-size: 13px;
  }
  .weekly-view-chart {
    grid-template-columns: repeat(7, 13%);
  }
  .cal {
      grid-template-columns: repeat(7, 14.3%);
      grid-template-rows: repeat(6, 203px);
    }





}
