
*{
  box-sizing: border-box;
}
*:focus {
    outline: none;
}

body{
  background-color: #1D212C;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  letter-spacing: .4px;
  color:#949EB3;
}

a{
  text-decoration: none;
  color: #949EB3;
}

h1{
  font-size: 30px;
  color: #949EB3;
  letter-spacing: 0.5px;
  text-align: center;
}

/******** Sidebar ****************/
/******* Side bar - main nav  from top to bottom**********/
/**************************************/

  /*.sidebar{
    position: fixed;
      left:0;
      top:0;
      bottom:0;
    width:60px;
    overflow-x: hidden;
      transition: 0.5s;
  }*/

  .sidebar/*:hover*/{
    display: inline-block;
    position: fixed;
      left:0;
      top:0;
      bottom:0;
    width:200px;
    overflow-x: hidden;
      transition: 0.5s;
  }

  .card,.sidebar{
    background-color:#222632;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.22);
    box-sizing: border-box;

  }

  .profile-info{
    margin: 20px 20px -10px 10px;
    display: inline-flex;
  }

  .name-company{
    margin-top: 9px;
  }

  #name{
    color:white;
    font-weight: 700;
    text-transform: capitalize;
    padding: 2px;
  }
  #company{
      font-weight: 400;
      text-transform: uppercase;
      font-size: 12px;
      padding: 2px;
  }

  /********** Profile images ************/

  .user-profile-image{
    width:48px;
    height: 48px;
    margin:0px 10px 15px 0;
    display: inline-flex;
  }


  /* images */
    .ann{
      background-image: url("../images/ann.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .jon{
      background-image: url("../images/jon.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .kay{
      background-image: url("../images/kay.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .jake{
      background-image: url("../images/jake.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .mia{
      background-image: url("../images/mia.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }
    .ryan{
      background-image: url("../images/ryan.jpg");
      background-size: cover;
      border: 1px solid rgba(30,33,39,0.82);
      border-radius: 50%;
    }

  /********** Nav ***************/

  .main-nav{
    font-weight: 400;
    font-size: 16px;
    color: #949EB3;
    letter-spacing: 1.17px;
    text-align: left;
    border-bottom: 1px solid #1B2029;
  }
  .main-nav ul{
    margin-bottom: 15px;
    margin-top: 15px;

  }
  .main-nav li{
    padding:15px 0 15px 20px;
    width:100%;
  }

    .main-nav li:hover{
      background-image: linear-gradient(-135deg, rgba(113, 125, 148, 0.5) 0%, rgba(68, 79, 101, 0.5) 100%);
    }

  .main-nav a{
    margin-left: 10px;
  }

  i{
    margin-right: 10px;
  }

  .nav-active{
    background-image: linear-gradient(40deg, #7C75FF 0%, #02D4FF 100%);
    color:white;
  }
  .on{
    color:white;
    text-transform: uppercase;
    font-weight: 700;
  }

  #logo{
    position: fixed;
    bottom: 50px;
    left:30px;
  }




/****************************************/
/***** Cards and card spacing **********/
/****************************************/

main{
  box-sizing: border-box;
  position: relative;
    left:12%;
  width:88%;
}
.top-card-top, .top-half-left, .top-half-right{
  position: relative;
  padding: 20px 30px;
  z-index: 4;
}
.full-width, .half-left,.half-right{
  position: relative;
  padding: 30px;
  z-index: 0;
}

.half{
  width:49.8%;
  display: inline-block;
  vertical-align: top;

}

.top-card-top{
  margin: 50px 50px 0 50px;
}

.full-width{
  margin:0 50px 25px 50px;
}

.top-half-left{
  margin: 25px 25px 0 50px;
}
.half-left{
  margin:0 25px 25px 50px;
}

.top-half-right{
  margin: 25px 50px 0 25px;
}
.half-right{
  margin:0 50px 25px 25px;
}




/****************************************/
/****************************************/
/****************************************/


#new-post ul li{
  display: inline-flex;
}

#new-post li{
  vertical-align: bottom;
  height: 50px;

}

#new-post li div {
  border: 3px solid #8F8BFD;
}

#new-post .user-profile-image{
  margin: 0 5px 0 0 ;

}
#new-post p{
  margin-top:35px;
}
#new-post i{
  padding-right:10px;
}
.username{
  margin:0 10px 0 3px;
  color: #8F8BFD;
}

.inactive-network .ann{
  opacity: .5;
}
#new-post .inactive-network .user-profile-image{
  border:0;
  width:54px;
  height: 54px;
}
.inactive-network .username{
  color: #77788A;
}


button{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #949EB3;
  text-align: center;
  padding:15px 20px;
  display: inline-flex;
}

.customize-network{
  position: relative;
  right:-430px;
}

.button:hover{
  background-image: linear-gradient(-135deg, rgba(113, 125, 148, 0.5) 0%, rgba(68, 79, 101, 0.5) 100%);
}

textarea{
  background-color: #222632;
  box-shadow: none;
  border: none;

  color: #8F8BFD;
  text-align: left;
  font-size: 30px;


  min-height: 300px;
  width: 70%;
  margin-bottom: 10px;
  resize: none;
  vertical-align: top;
}

textarea::placeholder{
  color: #6B7383;
  vertical-align:top;
  text-align: left;
}

.horizonal-list .first{
  margin-left: 0;
}
.horizonal-list .last{
  margin-right: 0;
}
.horizonal-list{
  display: inline-block;
}

.horizonal-list li{
  display: inline-flex;
  margin: 0 15px;
}

.horizonal-list li a:hover{
  color:#8F8BFD;
}

.button{
  background-color: #222632;
  border-image: linear-gradient(-135deg, #717D94 0%, #444F65 100%) 3 / 3px;
}


.right{
  /*float:right;
  align-content: right;
  align-items: center;
  align-self: right;*/
  box-sizing: border-box;
       margin-left:49%;
       /*position: relative;
       top: -30px;*/
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -60px;
  top: 60px;
  background-color: #2a2f3f;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.22);
  min-width: 210px;
  z-index: 10;
}

.dropdown-content a {
    color: #949EB3;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/****************************************/
/****************************************/
/****************************************/

.tall{
  height:300px;
}

.left-small{
  margin-left: 50px;

  background: #222632;
  box-shadow: 0 0 44px 0 rgba(0,0,0,0.23);
  /*float:left;*/
  width: 50%;
  height:300px;
  position: relative;
    z-index: 3;
}

.right-small{
  /*float:right;*/
  /*width: 39.7%;*/
  height: 150px;
  /*display: block;*/
  position: relative;
  background: #222632;
  box-shadow: 0 0 44px 0 rgba(0,0,0,0.23);
}

.half-small{
  width:49%;
  display: inline-block;
}

.overlap{
  display:flex;
  margin-right: 25px;
}


.centered-stats{
  font-size: 70px;
  text-align: center;
  line-height: 100px;
  margin-top: 20%;
}
.centered-stats-small{
  font-size:60px;
  text-align: center;
  line-height: 100px;
}

.center{
  text-align: center;
}

.uppercase{
  text-transform: uppercase;
}


/******** Color fonts ********/
.pink{
  color: #FE7373;
}
.blue{
  color:#4BB2FF;
}
.bright-blue{
  color:#02D4FF;
}
.green{
  color:#6FE881;
}


.user-info{
  margin: 20px 0;
  display: inline-block;
  width:100%
}

.name{
  color:white;
  font-weight: 700;
  text-transform: capitalize;
  padding: 2px;
}

.name-postinfo{
  display: inline-block;
  width:80%;
  vertical-align: super;
}
.scheduled{
    font-weight: 400;
    font-style: italic;
    text-transform:capitalize;

    font-size: 12px;
    padding: 2px;
}

strong{
 font-weight: 700;
}

.post{
  line-height: 22px;
  width:90%;
}

.post-image{
  width: 45%;
  display: inline-block;
  margin:10px 10px 10px 0;
}
.one-post-image{
  width:100%;
  margin:10px 10px 10px 0;
}
/****************************************/
/****************************************/
/****************************************/


.fixed-height{
  height: 725px;
  overflow: scroll;
}
.fixed-height-full{
  height: 865px;
  overflow: scroll;
}
.fixed-height-large{
  height: 1120px;
  overflow: scroll;
}

/****************************************/
/**************** charts ************************/
/****************************************/

.chart {
  height: 10vh;
  width: 36vw;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(100, 1fr);
  border-left: 1px solid #445065;
  border-bottom: 1px solid #445065;
  grid-column-gap: 30px;
}

.chart-labels {
  height: 10vh;
  width: 36vw;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(100, 1fr);

  grid-column-gap: 30px;
  text-align: center;
  padding-top: 10px;
  text-transform: capitalize;
}

[class*="grid-bar"] {
  grid-row-start: 1;
  grid-row-end: 101;
}
.grid-bar-1 {
  grid-row-start: 50;
}
.grid-bar-2 {
  grid-row-start: 30;
}.grid-bar-3 {
  grid-row-start: 0;

}.grid-bar-4 {
  grid-row-start: 60;

}.grid-bar-5 {
  grid-row-start: 100;

}.grid-bar-6 {
  grid-row-start: 30;

}.grid-bar-7 {
  grid-row-start: 10;
}

.grid-selected{
  background-image: linear-gradient(45deg, #EC4F4F 0%, #FE9E73 100%);
}
.grid-deselected{
  background-image: linear-gradient(-135deg, #717D94 0%, #444F65 100%);
}

/****************************************/
/****************************************/
/****************************************/




/****************************************/
/****************************************/
/****************************************/




/****************************************/
/****************************************/
/****************************************/
